:root {
    --red: #dc3545;
    --pink: rgb(114, 39, 133);
}



/*! ----------- 1-Navbar👇---------- */
.navbar {
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-link {
    transition: color 0.5s;
}

.nav-link:hover {
    color: var(--red);
    cursor: pointer;
}

/*! ------- Carousel -------- */
/*? Carousel demek resimlerin üzerine tıklayınca büyüyüp tıkladgımızda degişmesine belirli zaman aralıklarında resimlerin değişmesine (resimlerin değişmesine) bootstrapda caourosel dıyoruz  */
.carousel-item h5 {
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px black;
}

.carousel-item p {
    font-weight: 700;
    text-shadow: 1px 1px 1px rgb(119, 87, 28);
}

.carousel-item {
    max-height: calc(100vh - 151px);


}

.carousel-indicators button {
    background-color: var(--pink) !important;
    height: 0.5rem !important;
    width: 3rem !important;
    margin-right: 0.5rem !important;
}

/*************!  ABOUT US  ************/

/***************!  PEOPLE *************/
/* şimdi kartın içinde ki her bir resime ve iconlara  hover vericez */
/* .card-body:hover {
    color: rgb(38, 93, 141);


} */

section#our-employees .card {
    transition: transform 1s;
}

section#our-employees .card:hover {
    transform: scale(1.05);
    color: rgb(38, 93, 141);
    cursor: pointer;
}

/* iconları silik görünmesini ayarladık 👇 */
section#our-employees .socials i {
    transition: opacity 0.5s;

}

section#our-employees .socials i:hover {
    opacity: 0.5;
}

.our-shoes {
    max-width: 300px;
    min-width: 200;
}