:root {
    --red: #dc3545;
}



/*! ----------- 1-Navbar👇---------- */
.navbar {
    font-size: 1.2rem;
    font-weight: 600;
}

.nav-link {
    transition: color 0.5s;
}

.nav-link:hover {
    color: var(--red);
    cursor: pointer;
}

/*! ------- Carousel -------- */
/*? Carousel demek resimlerin üzerine tıklayınca büyüyüp tıkladgımızda degişmesine belirli zaman aralıklarında resimlerin değişmesine (resimlerin değişmesine) bootstrapda caourosel dıyoruz  */